<header>
    <h3>{{ name }}</h3>
    <p>Knowledge and Secrets</p>
</header>

<div class="knowledge block">
    <h4 class="title heading-font">Knowledge</h4>

    {% for entry in c.knowledge %}
        <p class="entry">{{ entry | safe }}</p>
    {% endfor %}
</div>

<div class="secrets block">
    <h4 class="title heading-font">Secret</h4>
    <span class="info">
        You may divulge your secret if you wish, but there will be consequences...
    </span>

    {% for entry in c.secrets %}
        <p class="entry">{{ entry | safe }}</p>
    {% endfor %}
</div>
