#select-file {
    width: 100%;
    height: 100%; 

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 120rem;

    .form-columns {
        width: 95%;
        max-width: 900rem;

        display: flex;
        flex-flow: row;
        gap: 20rem;

        // Each form field is grouped under a <div>, with no CSS class named on it.
        // In general, the lack of CSS class names on Django forms means we need
        // to use some hacky-looking selectors here to find the right elements.
        & > div {
            width: 100%;
            flex: 0 1 auto;

            padding: 20rem;
            background-color: #d0d0d0;
            border-radius: 20rem;

            // The titles above each field.
            legend, label[for=id_new_file_path] {
                font-size: 20rem;
                margin-bottom: 16rem;
            }

            // The list of old file path radio buttons.
            #id_old_file_path {
                display: flex;
                flex-flow: column;
                gap: 8rem;

                // Each radio button item (a <label>) is wrapped in a <div>.
                & > div {
                    cursor: pointer;
                    padding: 4rem 8rem;
                    border-radius: 4rem;

                    &:hover {
                        background-color: #67B354;
                    }

                    label {
                        // Expand the label to fit its container, so that clicking anywhere in
                        // the <div> activates the radio button.
                        width: 100%;
                        height: 100%;
                        display: block;

                        // Wrap the file paths arbitrarily rather than hoping for spaces.
                        font-size: 16rem;
                        word-break: break-all;

                        // Restate the cursor: pointer here, because otherwise it's overridden
                        // with a standard or text-selection cursor.
                        cursor: pointer;
                    }
                }
            }

            // The file path entry.
            &:last-child {
                display: flex;
                flex-flow: column;

                textarea {
                    width: 100%;
                    height: 100rem;
                    padding: 5rem;

                    font-size: 12rem;
                    word-wrap: break-all;
                }   
            }

            // Errors on any field.
            .errorlist {
                list-style: none;
                font-size: 12rem;
                font-weight: bold;
                color: #9C1A02;
            }
        }
    }

    button#generate {
        padding: 16rem 48rem;
        border-radius: 16rem;
        color: #ffffff;
        font-size: 20rem;
    }

    &:invalid {
        button#generate {
            background-color: #aaaaaa;
        }
    }

    &:valid {
        button#generate {
            background-color: #222222;
            cursor: pointer;

            &:hover, &:active {
                box-shadow: 0 0 0 2px #67B354;
                color: #67B354;
            }
        }
    }
}
