<div class="box">
    <h2>Advantages</h2>
    <p>
        Add another d6 to your turn roll if you could conceivably use any of these to your advantage: quirk, dream, heirloom, expertise, defining feature.
        Pick the best die you rolled.
    </p>
</div>

<div class="box">
    <h2>Death!</h2>
    <p>
        When a Goblin dies, replace it with the next Goblin. Kill your current Goblin at any time to add a die to the next roll (yours or someone else's).
        If all your Goblins die, you'll play as a friendly NPC!
    </p>
</div>

<div class="box">
    <h2>The King Stick</h2>
    <p>This is given to a player (by mutual agreement) when they do something tremendously funny. They can discard it to re-roll their dice.</p>
</div>

<div class="box">
    <h2>Goblinlike Behaviour</h2>
    <p>Remember: if Goblins agree on something then it's probably true! (Invent the world as you go).</p>
    <p>Most importantly: think like a Goblin!</p>
</div>
