<div class="box">
    <h2>Questing</h2>
    <p>
        The quest takes place across 3 stages, with 3 tasks in each stage, each with a Difficulty Rating (DR). Occasional misfortunes (oh no, an Orc!)
        may increase the DR. <b>Task 1</b> has a base DR of <b>4</b>, <b>Task 2</b> has a base DR of <b>5</b>, and <b>Task 3</b> has a base DR of <b>6</b>.
    </p>
</div>

<div class="box">
    <h2>Taking a turn</h2>
    <p>Use your Action Token. (Turns reset when everyone has used their token.) Roll 1d6, and describe what happens based on the result:</li>
    <ol>
        <li><b>Death!</b></li>
        <li><b>Injury</b>, or if you cross off the second injury box, death.</li>
        <li><b>Something bad</b>: the next Goblin gets -1 on die rolls.</li>
        <li><b>Something good</b>: the next Goblin gets +1 on die rolls.</li>
        <li><b>Victory!</b> -1 DR for the scene.</li>
        <li><b>Astonishing Victory!</b> -2 DR for the scene.</li>
    </ol>
</div>
