@colour-sepia: #8d710d;

.full-card {
    box-shadow: 0 0 14rem 0 @colour-sepia inset;

    font-size: 10rem;
    font-family: "Sarabun", "Trebuchet MS", sans-serif;

    h1, h2, h3, .heading-font {
        font-family: "ZCOOL XiaoWei", "Garamond", "Times New Roman", serif;
    }

    header, .block {
        width: 100%;

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    header {
        height: 15%;
        flex: 0 0 auto;
        padding: 2rem;

        h3 {
            font-size: 18rem;
            margin: 0 0 1rem 0;
        }

        p {
            font-size: 9rem;
            margin: 0;
        }
    }
}