.spoiler .row .card-cell {
    .full-card.template-clue, .full-card.template-clue_dense {
        .background-image {
            background-image: url("../../images/murder_mystery/cracks.png");
            background-position: top left;

            filter: opacity(0.2);
        }
    }

    .full-card.template-clue_dense .contents .description.block {
        padding: 0 12rem 20rem 12rem;
        font-size: 8rem;
        gap: 10rem;
    }
}