.full-card.template-clue_back {
    .background-image {
        background-image: url("../../images/murder_mystery/keyhole.jpg");
        background-position: 47% 45%;
        background-size: cover;

        filter: opacity(0.5);
    }

    .contents {
        .massive-number {
            font-size: 140rem;
            font-weight: bold;
        }
    }
}
