{% extends "painter/_core/base.html" %}

{% load index %}
{% load static %}

{% block html_styles %}class="card-display"{% endblock %}

{% block custom_styles %}
    {% with "styles/"|add:generator_key|add:"/custom.less" as custom_styles_url %}
        <link rel="stylesheet/less" type="text/css" href="{% static custom_styles_url %}" />
    {% endwith %}

    {% with "painter/"|add:generator_key|add:"/fonts.html" as custom_fonts_template %}
        {% include custom_fonts_template %}
    {% endwith %}
{% endblock %}

{% block body %}
    <div class="spoiler">
        <div class="row">
            {% for object in object_list %}
                {% for i in object.quantity|times %}

                    {# Include the card itself. #}
                    <div class="card-cell">
                        <div class="template-{{ object.template_name }} full-card">
                            {% include object.get_template with c=object.data name=object.name %}
                        </div>
                    </div>

                    {# Create a new row every three cards. #}
                    {% cycle 0 0 1 as linebreak silent %}
                    {% if linebreak %}
                        </div>

                        {# Break onto a new printed page every three rows. #}
                        {% cycle 0 0 1 as pagebreak silent %}
                        {% if pagebreak and not forloop.parentloop.parentloop.last  %}
                            </div>
                            <div class="spoiler">
                        {% endif %}

                        <div class="row">
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
