.full-card .table-wrapper {
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            text-align: center;
        }

        thead {
            tr {
                border-bottom: 1px solid #a0a0a0;

                td {
                    font-weight: bold;
                    color: #555555;
                }
            }
        }
    }
}
