.bg-white { background-color: #ffffff;}

.colour-basic { --style-colour: #d0d0d0; --highlight-colour: #000000; --faded-colour: fade(#d0d0d0, 10%); }
.colour-fist { --style-colour: #b71010; --highlight-colour: #ffffff; --faded-colour: fade(#b71010, 10%); }
.colour-crane { --style-colour: #0385a5; --highlight-colour: #ffffff; --faded-colour: fade(#0385a5, 10%); }
.colour-dragon { --style-colour: #0d660c; --highlight-colour: #ffffff; --faded-colour: fade(#0d660c, 10%); }
.colour-stone { --style-colour: #633927; --highlight-colour: #ffffff; --faded-colour: fade(#7a4c39, 10%); }

.bg-cost { background-color: #292929; color: #ffffff; }