/* The body of the card, with its name, rules text, and flavour text. */

.card-text {
    .card-name {
        width: 100%;

        background-color: var(--style-colour);
        color: var(--highlight-colour);
        font-weight: bold;
        font-size: 15rem;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .card-body {
        &.text-size-large {
            .rules-wrapper .rules {
                font-size: 13rem;
            }
        }

        &.text-size-medium {
            .rules-wrapper .rules {
                font-size: 11rem;
            }
        }

        &.text-size-small {
            .rules-wrapper {
                .rules {
                    font-size: 9rem;
                }
    
                .text-separator {
                    margin: 6rem auto;
                }
            }
        }

        .rules-wrapper {
            width: 100%;
            height: 100%;

            display: flex;
            flex-flow: column;

            position: relative;

            .rules, .flavour {
                color: #000000;
                z-index: 2;
            }

            .rules {
                padding-top: 2rem;
                min-height: 40%;

                p:not(:last-of-type) {
                    padding-bottom: 6rem;
                }

                i {
                    color: #404040;
                }
            }

            .text-separator {
                width: 100%;
                height: 1rem;
                min-height: 1px;
                margin: 8rem auto;

                background-color: #c0c0c0;
                border-width: 0;
            }

            .flavour {
                font-size: 8rem;
                font-style: italic;
            }
        }
    }
}

.full-card {
    .reminder {
        padding: 5rem;
        font-size: 8rem;

        h6 {
            padding: 2rem;
            margin: 2rem 0;
            font-size: 10rem;

            width: 100%;
            background-color: fade(#0d660c, 30%);;
        }

        p, ul {
            padding: 0 0 4rem 0;
        }

        li {
            margin-left: 12rem;
        }
    }

    .knockdown {
        height: 100%;

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        padding: 25rem;
        text-align: center;

        background-color: #ff6666;
        background: radial-gradient(ellipse, #ffffff, #ff6666);

        h1 {
            margin-bottom: 15rem;
            font-size: 25rem;
        }

        p {
            font-size: 13rem;
        }
    }
}