{% extends "painter/killteam/_base.html" %}

{% block header %}
    <div class="pentiment">{{ name|slice:":1" }}</div>
    <div class="rest-of-name">{{ name|slice:"1:" }}</div>
{% endblock %}

{% block body %}
    <div class="timing">
        <div class="label">Play timing</div>
        <div class="description">{{ c.timing|default:"At any time." }}</div>
    </div>

    <div class="rules-text">
        {% for effect in c.effects %}
            <p>{{ effect|safe }}</p>
        {% endfor %}
    </div>

    {% if c.action_cost %}
        {% include "painter/killteam/components/action.html" with name=c.action_name cost=c.action_cost text_list=c.action_text weapon=c %}
    {% else %}
        {% if c.weapon_name %}
            {% include "painter/killteam/components/weapon_table.html" with names=c.weapon_name types=c.weapon_type atks=c.atk hits=c.hit dmgs=c.dmg wrs=c.weapon_abilities %}
        {% endif %}
    {% endif %}
{% endblock %}
