.spoiler .row .card-cell {
    .full-card.template-npc {
        .background-image {
            background-image: url("../../images/murder_mystery/characters.png");
            background-position: 20% 30%;
            background-size: auto 130%;

            filter: opacity(0.2) saturate(0.9) brightness(1.5);
        }

        .contents {
            header {
                height: auto;
                padding: 8rem;

                h3 {
                    font-size: 25rem;
                    text-align: center;
                }
            }

            .description {
                text-align: center;
                line-height: 150%;

                font-size: 13rem;
                font-weight: 500;
            }

            .relation {
                padding: 8rem 15rem;

                text-align: center;
                font-size: 8rem;
                font-style: italic;
            }
        }
    }
}