.full-card.template-secrets {
    .block {
        padding: 6rem 11rem;

        .title, .info, .entry {
            width: 100%;
        }

        .title {
            font-size: 14rem;
            margin: 0;
        }

        .info {
            font-size: 8rem;
            font-style: italic;
            margin-bottom: 3rem;
        }

        .entry:not(:last-of-type) {
            margin-bottom: 5rem;
        }
    }
}