
.full-card.template-faction {
    header {
        background-color: fade(@kt-dark, 75%);
        font-size: 16rem;
        font-family: @heading-font;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;

        padding: 6rem 5rem;
        text-align: center;
        font-size: 16rem;
    }
}
