
.full-card.template-operative {
    header {
        padding: 6rem 5rem;
        background-color: @kt-orange;
        text-align: center;

        font-size: 16rem;
        font-family: @heading-font;
        font-weight: bold;
        text-transform: uppercase;
    }
}
