
@kt-orange: #ff5c17;
@kt-dark: #0a0808;
@kt-grey: #c9c9c9;

@text-font: "Saira Condensed";
@heading-font: "Strait";
@proclamation-font: "IM Fell DW Pica SC";
@pentiment-font: "Manufacturing Consent";
