.full-card .card-body table.weapons {
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;

    font-size: 8rem;

    tr {
        height: 14rem;
        padding: 0;

        td:not(.rules-text) {
            padding: 0 1rem;
            font-family: @heading-font;
            
            &:not(.wr-cell) {
                font-weight: bold;
            }
        }

        td.rules-text {
            padding: 2rem;
        }
    }

    &, thead tr {
        border-bottom: 2px solid @kt-orange;
    }

    thead {
        text-transform: uppercase;
    }

    tbody {
        tr:nth-child(2n) {
            background-color: fade(@kt-grey, 80%);
        }

        // Ranged/melee icons.
        td.icon-cell {
            height: 14rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 12rem;
            }
        }
    }
}