{% load index %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Imperial Painter</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Sarabun|ZCOOL+XiaoWei" rel="stylesheet">

    {% comment %} {% include "custom/headers.html" %} {% endcomment %}

    <link rel="stylesheet/less" type="text/css" href="{% static "styles/layout.less" %}">
    <link rel="stylesheet/less" type="text/css" href="{% static "styles/custom.less" %}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
</head>

<body>
    {% block body %}{% endblock body %}
</body>
</html>
