{% extends "painter/_base.html" %}

{% load index %}
{% load static %}

{% block body %}
    <div class="spoiler">
        <div class="row">
            {% for object in object_list %}
                {% for i in object.quantity|times %}

                    {# Include the card itself. #}
                    <div class="card-cell">
                        <div class="template-{{ object.template_name }} full-card">
                            {% include object.get_template with c=object.data name=object.name %}
                        </div>
                    </div>

                    {# Create a new row every three cards. #}
                    {% cycle 0 0 1 as linebreak silent %}
                    {% if linebreak %}
                        </div>

                        {# Break onto a new printed page every three rows. #}
                        {% cycle 0 0 1 as pagebreak silent %}
                        {% if pagebreak and not forloop.parentloop.parentloop.last  %}
                            </div>
                            <div class="spoiler">
                        {% endif %}

                        <div class="row">
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
