{% load index %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Imperial Painter</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Sarabun|ZCOOL+XiaoWei" rel="stylesheet">

    {% include "custom/headers.html" %}

    <link rel="stylesheet/less" type="text/css" href="{% static "styles/layout.less" %}">
    <link rel="stylesheet/less" type="text/css" href="{% static "styles/custom.less" %}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
</head>

<body>
    <div class="spoiler">
        <div class="row">
            {% for object in object_list %}
                {% for i in object.quantity|times %}

                    {# Include the card itself. #}
                    <div class="card-cell">
                        <div class="template-{{ object.template_name }} full-card">
                            {% include object.get_template with c=object.data name=object.name %}
                        </div>
                    </div>

                    {# Create a new row every three cards. #}
                    {% cycle 0 0 1 as linebreak silent %}
                    {% if linebreak %}
                        </div>

                        {# Break onto a new printed page every three rows. #}
                        {% cycle 0 0 1 as pagebreak silent %}
                        {% if pagebreak and not forloop.parentloop.parentloop.last  %}
                            </div>
                            <div class="spoiler">
                        {% endif %}

                        <div class="row">
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
