<div class="full-card">
    <div class="reminder">
        <h6>2. Lesson Phase</h6>
        <p>
            During your Lesson Phase, you may play any of the cards in your hand to make <b>Wisdom</b>. Ignore their normal costs and effects;
            instead, each card generates Wisdom equal to its Wisdom value (on the left, in a dark box).
        </p>
        <p>
            You may learn any card from the supply by paying its Wisdom cost. Set aside any newly learned cards. Then discard all cards that you played
            for Wisdom this phase.
        </p>

        <h6>3. Defence Phase</h6>
        <p>
            You may play any cards from your hand face-down in front of you as <b>defence cards</b>.
        </p>
        <p>
            These are revealed when your opponent attacks you in their next turn, one for each attack. When a defence card is revealed, if it's a block
            or reversal, you have the option to play it on the attack that revealed it. Defence cards are revealed in strict order - left to right -
            so be careful to place them correctly!
        </p>

        <h6>4. End Phase</h6>
        <ul>
            <li>Discard any cards left in your hand.</li>
            <li>For each new card you learned this turn, trash a card from your discard pile and add the new card
            in its place.</li>
            <li>If the supply has fewer than seven cards in it, add new ones from the supply deck until it's back to seven.</li>
            <li>Finally, draw a new hand of five cards.</li>
        </ul>
    </div>
</div>
