<div class="full-card">
    <div class="reminder">
        <h6>2. Learning Phase</h6>
        <p>
            During your learning phase, you may play any of the cards in your hand to make Wisdom. Ignore their normal costs and effects;
            instead, each card generates Wisdom equal to its Wisdom value (on the left, in a dark box).
        </p>
        <p>
            You may learn any card from the supply by paying its Wisdom cost. Set aside any newly learned cards.
        </p>
        <p>
            After you're done making Wisdom and learning things, discard your played cards and go to the end phase.
        </p>

        <h6>3. End Phase</h6>
        <ul>
            <li>Discard any cards left in your hand.</li>
            <li>For each new card you learned this turn, trash a card from your discard pile and add the new card
            in its place.</li>
            <li>If the supply has fewer than seven cards in it, add new ones from the supply deck until it's back to seven.</li>
            <li>Finally, draw a new hand of five cards.</li>
        </ul>

        <h6>Other general rules</h6>
        <p>
            If at any point you try to draw from an empty deck, shuffle your discard pile and turn it over to form a new deck, then draw.
        </p>
        <p>
            Some cards have a <b>Reversal</b> ability. These abilities can be used when they meet a certain condition, usually something
            your opponent does. This might allow you to play the card or to discard it for an effect.
        </p>
    </div>
</div>
