<div class="full-card">
    <div class="reminder">
        <h6>Setup</h6>
        <ul>
            <li>Both players start on 50 Health.</li>
            <li>The player going first starts with four cards in hand, and the player going second starts with five.</li>
            <li>Shuffle the supply deck and deal seven cards as the starting supply. Place the supply of Sensei's Assistances next to the deck.</li>
        </ul>

        <h6>1. Action Phase</h6>
        <p>
            During your action phase, you may play <b>normal attack</b> cards, <b></b>special attack</b> cards, and <b></b>focus</b> cards.
            Any time your opponent attacks you, you may play <b>block</b> cards.
        </p>
        <p>
            Each of these cards has a <i>Combo</i> cost on the left hand side.  Each player starts each action phase with 2 Combo Points.
            You must pay the Combo cost for any card in order to play it.
        </p>
        <p>
            <b>Focus</b> cards just do what they say immediately.
        </p>
        <p>
            Whenever you attack your opponent, they can play a block card from their hand to block the attack.
            If your opponent doesn't block, the attack <i>hits</i> and deals damage equal to its damage value to them.
        </p>
        <p>
            Whenever you hit your opponent with a normal attack, you gain 1 Combo Point and they lose 1 Combo Point.
            Whenever you hit your opponent with a special attack, they lose all their Combo Points.
        </p>
        <p>
            After you're done attacking and playing focus cards, discard all the cards you played this phase, and move to the learning phase.
        </p>
    </div>
</div>
