<div class="full-card">
    <div class="reminder">
        <h6>Setup</h6>
        <ul>
            <li>Both players start on 50 Health.</li>
            <li>The player going first starts with four cards in hand, and the player going second starts with five.</li>
            <li>Shuffle the supply deck and deal seven cards as the starting supply. Place the supply of Sensei's Assistances next to the deck.</li>
        </ul>

        <h6>1. Action Phase</h6>
        <p>
            During your action phase, you may play <b>attack</b> cards and <b>focus</b> cards. Your opponent may play <b>block</b> or <b>reversal</b> cards they have set up.
        </p>
        <p>
            Each of these cards has a <i>Combo</i> cost on the left hand side.  Each player starts each action phase with 2 Combo Points.
            You must pay the Combo cost for any card in order to play it.
        </p>

        <h6>2. Lesson Phase</h6>
        <p>
            During your learning phase, you may play any of the cards in your hand to make Wisdom. Ignore their normal costs and effects;
            instead, each card generates Wisdom equal to its Wisdom value (on the left, in a dark box).
        </p>
        <p>
            You may learn any card from the supply by paying its Wisdom cost. Set aside any newly learned cards.
        </p>
        <p>
            After you're done making Wisdom and learning things, discard your played cards and go to the end phase.
        </p>
    </div>
</div>
