<div class="full-card">
    <div class="reminder">
        <h6>Setup</h6>
        <ul>
            <li>Set both players to 50 Health.</li>
            <li>Give each player a starter deck of neutral starter cards. Then, shuffle the four non-neutral starter cards and give two to each player.</li>
            <li>Randomly determine who will go first. Both players draw five cards, then the player going second
                puts the top two cards of their deck face down in front of them as defence cards.</li>
            <li>Shuffle the supply deck and deal seven cards as the starting supply. Place the supply of Sensei's Assistances next to the deck.</li>
        </ul>

        <h6>Turn sequence</h6>
        <p>
            Starting with the player going first, both players alternate turns until one player is reduced to 0 or less Health, at which point
            the other player wins!
        </p>
        <p>
            Each turn in Training Montage consists of four phases:
        </p>
        <ol>
            <li>The <b>Action Phase</b> is where you can attack your opponent, and focus your mind to better understand the fight!</li>
            <li>The <b>Lesson Phase</b> is your opportunity to improve your repertoire of moves, by acquiring new cards!</li>
            <li>The <b>Defence Phase</b> lets you prepare your countermeasures to your opponent's next turn!</li>
            <li>The <b>End Phase</b> gives you a new hand, and replenishes the supply of future options!</li>
        </ul>
    </div>
</div>
